

html {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin:0px;
  padding: 0px;
}

.wrap {
  height: auto;
  position: relative;
  margin: 0 auto -60px; /* footer height + space */
  min-height: 100%;
  font: normal 100% Helvetica, Arial, sans-serif;
  padding: 0 0 60px; /* footer height + space */
  box-sizing: border-box;
  overflow-x:hidden;
}

footer {
  margin: 0px;
  font-size: 1em;
  position:absolute;
  height: 60px;  /* footer height */
  padding-top: 20px;
  display: block;
  width:100%;
  /*height:60px;*/   /* Height of the footer */
  background:#6cf;
  background-color: #45a1ff;
  text-align: center;
  color: #fff;
}

footer p {
  font-size: 1.5em;
}

.modal-content {
  border: 3px solid black;
  box-shadow: 0 7px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.modal-header {
  background-color: lightblue;
  border-bottom: 1px solid gray;
}

.modal-footer {
  background-color: lightblue;
  border-top: 1px solid gray;
}


.allTitles {
    text-align: center;
    padding-bottom: 1em;
}

.PicInfo{
    padding-left: 2em;
    text-align: center;
}
.navbar-nav li{
  display: inline-block;
  float: none;
  padding-left: 1em;
  padding-right: 1em;
  color: gray;
}

.IconBox {
  margin-left: 0.25em;
  margin-right: 1rem;
}

.Icon {
  padding-right: 0.75rem;
  font-size: 3em; 
  color: lightblue; 
  float: right;
}

.Icon:hover{
  cursor: pointer;
  transition-duration: 0.25s;
  color: lightgreen;
}

.Icon:active{
  cursor: pointer;
  transition-duration: 0.0s;
  transform: scale(0.8);
}

.navbar-brand {
    margin: 0;
}

.NavigationLinkBox {
  width: 100%;
  display: inline-block;
  text-align: center;
}


.jumbotron {
    z-index: 1;
    margin-top: 1.0em;
    margin-bottom: 0em;
    padding-bottom: 3.3em;
    position: relative;
    overflow: hidden;
    text-align: left;
    background-color: lightblue;
    background-image: linear-gradient(to bottom right, #4DC1F9, #5CDB72);
    /*background-image: radial-gradient(#4DC1F9, #5CDB72, #A478F9);*/
}

.MyPic {
    margin-top: 10px;
    flex-grow: 1;
    border-radius: 30%;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#buttonResume {
    box-shadow: 0 7px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.3s;
}

#buttonResume:hover {
    cursor: pointer;
}

#buttonResume:focus { outline: none;}

#buttonResume:active {
    transition-duration: 0.0s;
    transform: translateX(0.3em);
    padding: 0.3em;
}

.jumbotron h1{
    padding-top: 0.7em;
    position: relative;
    z-index: 2;
    font-weight: bold;
    color: black;
    border-bottom: 2px solid black;
}

.jumbotron h2{
    position: relative;
    z-index: 2;
    padding-top: 0.4em;
    font-size: 1.2em;
    color: black;
}

.jumbotron #buttonResume{
    position: relative;
    z-index: 2;
    margin-top: 2em;
    background-color: #9A28DD;
    border-color: #9A28DD;
}


hr {
    border-width: 2px;
    border-color: #A09FA4;
}

.resumeTitles {
  font-size: 2em;
  font-weight: bold;
}


.ResumeInfo {
    padding-left: 2em;
    text-align: left;
}

 .infoWork {
    padding-top: 0.4em;
 }

.infoSkills {
    padding-top: 0.7em;
}

.ResumeEdu {
    padding-left: 2em;
    text-align: left;
}

.EduBold{
    padding-top: 1em;
    font-weight: bold;
}

.skillsFullRow {
  position: relative;
}

.SkillsTitleInfo{
  text-align: center;
}

.awardsTitle {
  text-align: center;
}


.introText {
    z-index: -5;
}

.allText {
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #E7E7E7;
}

.allText h4{
  padding: 0;
  display: inline-block;
}

#workReplaceText h3{

  display: inline-block;
  padding-left: 0;
}

.slide {
    position: absolute; right: 0; left: 0;
}


.buttonHomeAlign {
    text-align: center;
}



