/*Testing on Samsung J7, 373px Portrait, OR 651px in landscape*/


html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin:0px;
  padding: 0px;
}

.wrap {
  height: auto;
  position: relative;
  margin: 0 auto -80px; /* footer height + space */
  min-height: 100%;
  font: normal 100% Helvetica, Arial, sans-serif;
  padding: 0 0 80px; /* footer height + space */
  box-sizing: border-box;
  overflow-x:hidden;
}

footer {
  margin: 0px;
  font-size: 1.5em;
  position:absolute;
  height: 80px;  /* footer height */
  padding-top: 20px;
  display: block;
  width:100%;
  /*height:60px;*/   /* Height of the footer */
  background:#6cf;
  background-color: #45a1ff;
  text-align: center;
  color: #fff;
}

.modal-content {
  border: 3px solid black;
  box-shadow: 0 7px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.modal-header {
  background-color: lightblue;
  border-bottom: 1px solid gray;
}

.modal-title {
  font-size: 1.5em;
}

.modal-footer {
  background-color: lightblue;
  border-top: 1px solid gray;
}


.navbar {

}

.allTitles {
    text-align: center;
}

.PicContainer{
  width: 100%;
  text-align: center;
}


.IconBox {
  margin-left: 0.25em;
  margin-right: 1rem;
}

.Icon {
  margin-left: 0.5em;
  font-size: 3em; 
  color: lightblue; 
  float: right;
}

.Icon:hover{
  cursor: pointer;
  transition-duration: 0.25s;
  color: lightgreen;
}

.Icon:active{
  cursor: pointer;
  transition-duration: 0.0s;
  transform: scale(0.8);
}

.NavigationLinkBox {
  padding-right: 0.25rem;
  float: right;
  text-align: right;
}

.PicContainer img {
  margin-top: 2em;
  width: 50%;

}

.MyPic {
    margin-top: 15px;
    flex-grow: 1;
    border-radius: 30%
}

.PicInfo{
    text-align: center;

}

.jumbotron {
    z-index: 1;
    margin-top: 1.0em;
    margin-bottom: 0;
    padding-bottom: 1em;
    position: relative;
    overflow: hidden;
    text-align: left;
    background-color: lightblue;
    background-image: linear-gradient(to bottom right, #4DC1F9, #5CDB72);
    /*background-image: radial-gradient(#4DC1F9, #5CDB72, #A478F9);*/
}


#buttonResume {
    box-shadow: 0 7px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.3s;
}

#buttonResume:hover {
    cursor: pointer;
}

#buttonResume:focus { outline: none;}

#buttonResume:active {
    transition-duration: 0.0s;
    transform: translateX(0.3em);
    padding: 0.3em;
}

.jumbotron h1{
    padding-top: 0.1em;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 2em;
    color: black;
 /*   display: inline-block;*/
    border-bottom: 2px solid black;
}

.jumbotron h2{
    position: relative;
    z-index: 2;
    padding-top: 0.4em;
    font-size: 1em;
    color: black;
}

.jumbotron #buttonResume{
    position: relative;
    z-index: 2;
    margin-top: 1em;
    background-color: #9A28DD;
    border-color: #9A28DD;
}


hr {
    border-width: 2px;
    border-color: #A09FA4;
}

.resumeTitles {
  font-size: 2em;
  font-weight: bold;
}


.ResumeInfo {
    padding-left: 2em;
    text-align: left;
}

 .infoWork {
    padding-top: 0.4em;
 }

.infoSkills {
    padding-top: 0.7em;
}

.ResumeEdu {
    padding-left: 2em;
    text-align: left;
}

.EduBold{
    padding-top: 1em;
    font-weight: bold;
}

.SkillsTitleInfo {
  text-align: center;
}

.awardsTitle {
  text-align: center;
}


.introText {
    z-index: -5;
}

.allText {
    position: relative;
    font-size: 80%;
    padding-top: 1em;
    padding-bottom: 30px;
    background-color: #E7E7E7;
}

.allText h4{
  padding: 0;
  display: inline-block;
  border-bottom: 2px dotted black;
}

#workReplaceText:not(h2)  {
  padding-left: 1em;
  padding-right: 1em;
}

#workReplaceText h2{
  text-align: center;
  padding-left: 0;
}

#workReplaceText h3{
  text-align: left;
  font-size: 1.6em;
  display: inline-block;
  border-bottom: 1px dotted black;
  padding-left: 0;
}

#workReplaceText p{
  padding-right: 1em;
}
#workReplaceText li{
  padding-right: 1em;
}


.slide {
    position: absolute; right: 0; left: 0;
}

.myProjectsBox h5{
  font-size: 1em;
  display: inline-block;
  border-bottom: 2px solid gray;
}

.buttonHomeAlign {
    text-align: center
}

[class*="col-"] {
        width: 100%;
        font-size: 100%
    }
