/*Testing on Samsung J7, 373px Portrait, OR 651px in landscape*/


html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font: normal 100% Helvetica, Arial, sans-serif;
}

footer {
  padding-top: 1em;
  position:absolute;
  bottom:0;
  width:100%;
  /*height:60px;*/   /* Height of the footer */
  background:#6cf;
  background-color: #45a1ff;
  color: #fff;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  border-top-style: solid; 
  border-top-width: 2px;
  border-top-color: #515151;
}

.navbar {

}

.allTitles {
    text-align: center;
}

.PicContainer{
  width: 100%;
  text-align: center;
}

.PicInfo{
    text-align: center;
}

.PicContainer img {
  padding-top: 1em;
  width: 100%;
}

.jumbotron {
    z-index: 1;
    margin-top: 1.0em;
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
    text-align: left;
    background-color: lightblue;
    background-image: linear-gradient(to bottom right, #4DC1F9, #5CDB72);
    /*background-image: radial-gradient(#4DC1F9, #5CDB72, #A478F9);*/
}

.MyPic {
    margin-top: 10px;
    flex-grow: 1;
    border-radius: 30%
}

#buttonResume {
    box-shadow: 0 7px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.3s;
}

#buttonResume:hover {
    cursor: pointer;
}

#buttonResume:focus { outline: none;}

#buttonResume:active {
    transition-duration: 0.0s;
    transform: translateX(0.3em);
    padding: 0.3em;
}

.jumbotron h1{
    padding-top: 0.7em;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 3em;
    color: black;
 /*   display: inline-block;*/
    border-bottom: 2px solid black;
}

.jumbotron h2{
    position: relative;
    z-index: 2;
    padding-top: 0.4em;
    font-size: 1em;
    color: black;
}

.jumbotron #buttonResume{
    position: relative;
    z-index: 2;
    margin-top: 2em;
    background-color: #9A28DD;
    border-color: #9A28DD;
}


hr {
    border-width: 2px;
    border-color: #A09FA4;
}

.resumeTitles {
  font-size: 2em;
  font-weight: bold;
}


.ResumeInfo {
    padding-left: 2em;
    text-align: left;
}

 .infoWork {
    padding-top: 0.4em;
 }

.infoSkills {
    padding-top: 0.7em;
}

.ResumeEdu {
    padding-left: 2em;
    text-align: left;
}

.EduBold{
    padding-top: 1em;
    font-weight: bold;
}


.introText {
    z-index: -5;
}

.allText {
    position: relative;
    font-size: 80%;
}

.allText h4{
  padding: 0;
  display: inline-block;
  border-bottom: 2px dotted blue;
}

#workReplaceText:not(h2)  {
  padding-left: 1em;
  padding-right: 1em;
}

#workReplaceText h2{
  text-align: center;
  padding-left: 0;
}

#workReplaceText h3{
  text-align: left;
  font-size: 1.6em;
  display: inline-block;
  border-bottom: 1px dotted blue;
  padding-left: 0;
}

#workReplaceText p{
  padding-right: 1em;
}
#workReplaceText li{
  padding-right: 1em;
}


.slide {
    position: absolute; right: 0; left: 0;
}

.skillPageTextParagraph {
  margin-left: 1em;
  margin-right: 1em;
}

.buttonHomeAlign {
    text-align: center
}

[class*="col-"] {
        width: 100%;
        font-size: 100%
    }
